@tailwind base;
@tailwind components;
@tailwind utilities;

/* .shimmer {
  background: linear-gradient(to right, #e8e8e8 3%, #f0f0f0 9%, #e8e8e8 18%);
  animation: shimmer 2s infinite linear;
  background-size: 300%;
}

@keyframes shimmer {
  from {
    background-position: 100% 0;
  }
  to {
    background-position: -100% 0;
  }
} */
